# Base environment
ENVIRONMENT=local
APPLICATION_NAME=app-name
SERVICE_NAME=service-name

# Launcher environment
DJANGO_PROJECT=config

# SECURITY
SECRET_KEY="INSECURE"
DEBUG=True

# LOGGING
LOGGER_LEVEL=INFO

# Cache
CACHE_DEFAULT_TIMEOUT=300
CACHE_OAUTH_TTL=3600
